<!DOCTYPE html>
<html lang="ja"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title layout:title-pattern="$LAYOUT_TITLE_$CONTENT_TITLE">NOK</title>
<link th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/layout.css}" rel="stylesheet" />
<link th:href="@{/images/favicon.png}" rel="icon" />
</head>
<body>
  <header class="sticky-top header-contents">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <h1 class="text-muted zero-margin">タスク管理アプリ</h1>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item">
            <div th:if="${session['sessionComponent'] != null}">
              <div th:if="${session['sessionComponent'].loginAuthDto != null}">
                <div th:if="${session['sessionComponent'].loginAuthDto.seqLoginId != null}">
                  <a class="nav-link" href="#" th:text="${'ログインID : ' + session['sessionComponent'].loginAuthDto.seqLoginId}"></a>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/login/logout}">ログアウト</a>
          </li><!-- /.nav-item -->
        </ul><!-- /.navbar-nav -->
      </div><!-- /.collapse navbar-collapse justify-content-end -->
    </nav><!-- /.navbar navbar-expand-sm navbar-dark bg-dark -->
  </header><!-- /.sticky-top header-contents -->

  <div class="content">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-xs-4">
          <div class="list-group">
            <a href="#" class="list-group-item nok-list-menu-item">勤怠管理</a>
            <a href="#" class="list-group-item nok-list-menu-item">SNS</a>
            <a href="#" class="list-group-item nok-list-menu-item">タスク管理</a>
            <a href="#" class="list-group-item nok-list-menu-item">メモ管理</a>
            <a href="#" class="list-group-item nok-list-menu-item">ユーザ情報</a>
          </div><!-- /.list-group -->

        </div><!-- /.col-xs-4 -->
        <div class="col-xs-8">
          <section layout:fragment="content" class="content">
            <!-- 各画面個別で差し替えるエリア -->
          </section>
        </div><!-- /.col-xs-8 -->
      </div><!-- /.row -->
    </div><!-- /.content-wrapper -->
  </div><!-- /.content -->

  <footer class="fixed-bottom footer-contents">
    <p class=" zero-margin" align="left" th:text="'&nbsp;&nbsp;&copy;' +${#dates.format(#dates.createNow(), 'yyyy')} + '&nbsp;NOK'"></p>
  </footer><!-- /.fixed-bottom footer-contents -->
  <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.bundle.min.js}"></script>
</body>
</html>