<!DOCTYPE html>
<html lang="ja"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layout}">
<head>
<title>ユーザ定時情報登録</title>
<script>
</script>
</head>
<body>
<div layout:fragment="content">
  <br>
  <div class="container border col-10">
    <br>
    <h2>ユーザ定時登録</h2>
    <br>

    <div class="row">
      <div class="col-lg">
        <h3>定時一覧</h3>
        <br>
        <table class="table">
          <tr>
            <th th:text="#{seqRegularWorkMtId}"></th>
            <th th:text="#{beginWork}"></th>
            <th th:text="#{endWork}"></th>
          </tr>
          <tr th:each="mt : ${mtList}">
            <td th:text="${mt.seqRegularWorkMtId}"></td>
            <td th:text="${#numbers.formatInteger(mt.beginHour, 2, 'COMMA')} + ' : ' + ${#numbers.formatInteger(mt.beginMinute, 2, 'COMMA')}"></td>
            <td th:text="${#numbers.formatInteger(mt.endHour, 2, 'COMMA')} + ' : ' + ${#numbers.formatInteger(mt.endMinute, 2, 'COMMA')}"></td>
          </tr>
        </table><!-- /.table -->
        <br>
      </div><!-- col-lg -->
    </div><!-- row -->

    <div class="row">
      <div class="col-lg">
        <h3>ユーザの定時を登録</h3>
        <br>
        <div class="border">
          <form th:action="@{/work/userregular/entry}" method="post" class="needs-validation" th:object="${userRegularEntryForm}" novalidate>
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('seqLoginId')}" th:errors="*{seqLoginId}"></div>
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('seqRegularWorkMtId')}" th:errors="*{seqRegularWorkMtId}"></div>
            <div th:if="${entrySuccess == '1'}" class="alert alert-success" role="alert">登録完了しました</div>

            <table class="table table-borderless">
              <tr class="form-group zero-margin">
                <td>
                  <label class="control-label zero-margin" th:text="#{seqLoginId}"></label>
                  <span class="badge badge-danger">必須</span>
                </td>
                <td>
                  <select id="seqLoginId" name="seqLoginId" class="custom-select">
                    <option th:each="seqLoginId : ${seqLoginIdList}" th:value="${seqLoginId}" th:inline="text">[[${seqLoginId}]]</option>
                  </select>
                </td>
              </tr>
              <tr class="form-group zero-margin">
                <td>
                  <label class="control-label zero-margin" th:text="#{seqRegularWorkMtId}"></label>
                  <span class="badge badge-danger">必須</span>
                </td>
                <td>
                  <select id="seqRegularWorkMtId" name="seqRegularWorkMtId" class="custom-select">
                    <option th:each="seqRegularWorkMtId : ${seqRegularWorkMtIdList}" th:value="${seqRegularWorkMtId}" th:inline="text">[[${seqRegularWorkMtId}]]</option>
                  </select>
                </td>
              </tr>
              <tr class="form-group zero-margin">
                <td><input type="submit" class="btn btn-outline-primary mt-1" value="登録" /></td>
              </tr>
            </table>
          </form>
        </div>
        <br>
      </div><!-- col-lg -->
    </div><!-- row -->

    <div class="row">
      <div class="col-lg">
        <h3>ユーザ一覧</h3>
        <br>
        <table class="table">
          <tr>
            <th th:text="#{seqLoginId}"></th>
            <th th:text="#{seqRegularWorkMtId}"></th>
            <th th:text="#{beginWork}"></th>
            <th th:text="#{endWork}"></th>
          </tr>
          <tr th:each="mt : ${workUserCopositeMtList}">
            <td th:text="${mt.seqLoginId}"></td>
            <td th:text="${mt.seqRegularWorkMtId}"></td>
            <td th:text="${#numbers.formatInteger(mt.beginHour, 2, 'COMMA')} + ' : ' + ${#numbers.formatInteger(mt.beginMinute, 2, 'COMMA')}"></td>
            <td th:text="${#numbers.formatInteger(mt.endHour, 2, 'COMMA')} + ' : ' + ${#numbers.formatInteger(mt.endMinute, 2, 'COMMA')}"></td>
          </tr>
        </table><!-- /.table -->
      </div><!-- col-lg -->
    </div><!-- row -->

  </div><!-- /.container.border.col-10 -->
  <br>
  <br>
  <br>
</div>
</body>
</html>