<!DOCTYPE html>
<html lang="ja"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layout}">
<head>
<title>ユーザ情報変更画面</title>
</head>
<body>
  <div layout:fragment="content">
    <br>
    <div class="container border col-10">
      <br>
      <h2>ユーザ情報変更</h2>
      <br>
      <div class="row">
        <div class="col-lg">
          <form th:action="@{/user/editconfirm}" method="post" class="needs-validation" th:object="${userEditForm}" novalidate>
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('mailAddress')}" th:errors="*{mailAddress}"></div>
            <div class="form-group">
              <label class="control-label" th:text="#{seqLoginId}"></label>
              <label th:text="${session['sessionComponent'].loginAuthDto.seqLoginId}"></label>
            </div><!-- /.form-group -->

            <div class="form-group">
              <div class="custom-control custom-radio">
                <input type="radio" id="password-edit-on" class="custom-control-input" name="isPasswordEditFlag" value="1" onclick="on('password_area');" checked>
                <label class="custom-control-label" for="password-edit-on">パスワードを変更する</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="password-edit-off" class="custom-control-input" name="isPasswordEditFlag" value="0" onclick="off('password_area');">
                <label class="custom-control-label" for="password-edit-off">パスワードを変更しない</label>
              </div>

              <div id="password_area">
                <label class="control-label" for="validationCustom01" th:text="#{password}"></label><span class="badge badge-danger">必須</span>
                <input type="password" id="validationCustom01" class="form-control" th:field="*{password}" placeholder="password1234" required />
                <div class="valid-feedback" th:text="#{inputDone}"></div>
                <div class="invalid-feedback" th:text="#{password} + #{required}"></div>
              </div><!-- /.password_area -->
            </div><!-- /.form-group -->

            <div class="form-group">
              <label class="control-label" for="validationCustom02" th:text="#{mailAddress}"></label><span class="badge badge-danger">必須</span>
              <input type="text" id="validationCustom02" class="form-control" th:field="*{mailAddress}" />
              <div class="valid-feedback" th:text="#{inputDone}"></div>
              <div class="invalid-feedback" th:text="#{mailAddress} + #{required}"></div>
            </div><!-- /.form-group -->

            <input type="submit" class="btn btn-outline-primary mt-1" value="登録" />
          </form>
          <br>
        </div>
      </div>
    </div><!-- /.container.border.col-10 -->
  </div>
</body>
</html>