<!DOCTYPE html>
<html lang="ja"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>ログインユーザ情報登録画面</title>
<link th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/layout.css}" rel="stylesheet" />
<link th:href="@{/images/favicon.png}" rel="icon" />
</head>
<body>

  <header class="sticky-top header-contents">
    <div>
      <h1>タスク管理アプリ</h1>
    </div>
  </header>
  <br>

  <div class="container border col-7"><!-- container border col-7 ここから -->
    <br>
    <h2>ログインユーザ情報登録画面</h2>
    <br>
    <div class="row"><!-- row ここから -->
      <div class="col-md"><!-- col-md ここから -->
        <form th:action="@{/login/userregistprocess}" method="post">
          <p>先程のパスワードでユーザを作成します</p>
          <input type="submit" class="btn btn-primary mt-1" value="登録" />
        </form>
      </div><!-- col-md ここまで -->
    </div><!-- row ここまで -->
    <br>
  </div><!-- container border col-7 ここまで -->

  <footer class="fixed-bottom footer-contents">
    <p align="left" th:text="'&nbsp;&nbsp;&copy;' +${#dates.format(#dates.createNow(), 'yyyy')} + '&nbsp;NOK'"></p>
  </footer>

  <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</body>
</html>