<!DOCTYPE html>
<html lang="ja"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8" />
<title>ログイン</title>
<link th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/layout.css}" rel="stylesheet" />
<!-- <link th:href=“@{/image/favicon.png}” rel=”icon” /> -->
</head>
<body>
      <div class="sidenav">
         <div class="login-main-text">
            <h2>タスク管理アプリ</h2>
            <br><br>
            <p>アカウントを持っている場合、情報を入力しログインボタンを押してください</p>
            <p>持っていない場合、登録ボタンを押してください</p>
         </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
                <div th:if="${loginError}">
                  <p>ログインに失敗しました</p>
                </div>
               <form th:action="@{/login/processLogin}" method="post" class="needs-validation" novalidate>
                  <div class="form-group">
                     <label class="control-label" for="validationCustom01">ログインID</label>
                     <input type="text" id="validationCustom01" class="form-control" name="loginId" placeholder="12345" required />
                     <div class="valid-feedback">入力済</div>
                     <div class="invalid-feedback">ログインIDは必須です</div>
                  </div>
                  <div class="form-group">
                     <label class="control-label" for="validationCustom02">パスワード</label>
                     <input type="password" id="validationCustom02" class="form-control" name="password" placeholder="admin" required />
                     <div class="valid-feedback">入力済</div>
                     <div class="invalid-feedback">パスワードは必須です</div>
                  </div>
                  <input type="submit" class="btn btn-black" value="ログイン" />
                  <input type="button" id="login-user-regist-btn" class="btn btn-secondary" value="登録" />
               </form>
            </div>
         </div>
      </div>
  <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/common.js}"></script>
  <script>
  $(function() {
    $("#login-user-regist-btn").on("click", function() {
       console.log("登録ボタン押下");
        // 登録処理の呼出
        let form = $("<form></form>", {
          method: "get",
          action: "/login/userregist"
        });
        form.appendTo(document.body);
        form.submit();
    });
  });
  </script>
</body>
</html>